 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.65), rgba(0,0,0,0.65)), url("images/073d7021d353418ea007676e6f388eaf.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1506px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  font-family: Aldrich;
  margin: 131px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 400;
  font-family: Aldrich;
  margin: 15px auto 0;
}

.u-section-1 .u-image-1 {
  width: 370px;
  height: 370px;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 103px auto 0 73px;
}

.u-section-1 .u-image-2 {
  width: 235px;
  height: 198px;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: -232px auto 0 148px;
}

.u-section-1 .u-text-3 {
  transition-duration: 0.5s;
  font-size: 1.125rem;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: -218px 171px 0 495px;
}

.u-section-1 .u-image-3 {
  width: 255px;
  height: 255px;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 232px 150px 0 auto;
}

.u-section-1 .u-text-4 {
  letter-spacing: normal;
  text-transform: none;
  font-weight: 700;
  font-family: Aldrich;
  margin: -217px 486px 0 482px;
}

.u-section-1 .u-text-5 {
  transition-duration: 0.5s;
  font-size: 1.125rem;
  margin: 38px 483px 0 148px;
}

.u-section-1 .u-image-4 {
  width: 316px;
  height: 316px;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 141px auto 0 73px;
}

.u-section-1 .u-text-6 {
  letter-spacing: normal;
  text-transform: none;
  font-weight: 700;
  font-family: Aldrich;
  margin: -264px 559px 0 453px;
}

.u-section-1 .u-text-7 {
  transition-duration: 0.5s;
  font-size: 1.125rem;
  margin: 24px 171px 60px 453px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1397px;
  }

  .u-section-1 .u-image-1 {
    width: 349px;
    height: 349px;
    margin-top: 47px;
    margin-left: 55px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -238px;
    margin-left: 111px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: -198px;
    margin-right: 86px;
    margin-left: 443px;
  }

  .u-section-1 .u-image-3 {
    width: 234px;
    height: 234px;
    margin-top: 174px;
    margin-right: 86px;
  }

  .u-section-1 .u-text-4 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    width: auto;
    margin-top: -223px;
    margin-right: 340px;
    margin-left: 428px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: 20px;
    margin-right: 351px;
    margin-left: 129px;
  }

  .u-section-1 .u-image-4 {
    width: 299px;
    height: 299px;
    margin-top: 169px;
    margin-left: 129px;
  }

  .u-section-1 .u-text-6 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    width: auto;
    margin-top: -254px;
    margin-right: 369px;
    margin-left: 443px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-top: 27px;
    margin-right: 39px;
    margin-left: 470px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1207px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 40px;
    margin-right: 40px;
    font-size: 3rem;
  }

  .u-section-1 .u-image-1 {
    width: 325px;
    height: 325px;
    margin-top: 17px;
    margin-left: 11px;
  }

  .u-section-1 .u-image-2 {
    width: 199px;
    height: 168px;
    margin-top: -198px;
    margin-left: 86px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -194px;
    margin-right: 69px;
    margin-left: 309px;
  }

  .u-section-1 .u-image-3 {
    width: 217px;
    height: 217px;
    margin-top: 161px;
    margin-right: 49px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -210px;
    margin-right: 299px;
    margin-left: 250px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 18px;
    margin-right: 316px;
    margin-left: 86px;
  }

  .u-section-1 .u-image-4 {
    width: 264px;
    height: 264px;
    margin-top: 121px;
    margin-left: 40px;
  }

  .u-section-1 .u-text-6 {
    margin-top: -227px;
    margin-right: 264px;
    margin-left: 329px;
  }

  .u-section-1 .u-text-7 {
    margin-top: 11px;
    margin-right: 49px;
    margin-left: 329px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    background-position: 21.75% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 1644px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-top: 128px;
    margin-left: 41px;
    margin-right: 41px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.25rem;
    width: auto;
    margin-top: 11px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 0;
    margin-left: auto;
  }

  .u-section-1 .u-image-2 {
    margin-top: -204px;
    margin-right: 158px;
    margin-left: auto;
  }

  .u-section-1 .u-text-3 {
    width: 342px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-image-3 {
    margin-top: 99px;
    margin-right: auto;
  }

  .u-section-1 .u-text-4 {
    width: 171px;
    margin-top: 32px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-5 {
    width: 318px;
    margin-top: 35px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-image-4 {
    margin-top: 45px;
    margin-left: auto;
  }

  .u-section-1 .u-text-6 {
    width: 128px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-7 {
    width: 384px;
    margin: 32px auto 50px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1714px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 81px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.125rem;
    margin-top: 8px;
  }

  .u-section-1 .u-image-1 {
    width: 275px;
    height: 275px;
    margin-top: 12px;
  }

  .u-section-1 .u-image-2 {
    width: 172px;
    height: 145px;
    margin-top: -173px;
    margin-right: 74px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 596px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-1 .u-image-3 {
    margin-top: -403px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 48px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: -530px;
    margin-left: 24px;
    margin-right: 24px;
  }

  .u-section-1 .u-image-4 {
    margin-top: 610px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 28px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin: 33px 0 52px;
  }
}

.u-section-1 .u-image-1,
.u-section-1 .u-image-1:before,
.u-section-1 .u-image-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-image-1.u-image-1.u-image-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-image-1.u-image-1.u-image-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-container-layout:hover .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-text-3,
.u-section-1 .u-text-3:before,
.u-section-1 .u-text-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-text-3.u-text-3.u-text-3:hover {
  transform: translateX(10px) translateY(0px) scale(1) !important;
}

.u-section-1 .u-text-3.u-text-3.u-text-3.hover {
  transform: translateX(10px) translateY(0px) scale(1) !important;
}

.u-section-1 .u-container-layout:hover .u-text-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-text-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-text-5,
.u-section-1 .u-text-5:before,
.u-section-1 .u-text-5 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-text-5.u-text-5.u-text-5:hover {
  transform: translateX(10px) translateY(0px) scale(1) !important;
}

.u-section-1 .u-text-5.u-text-5.u-text-5.hover {
  transform: translateX(10px) translateY(0px) scale(1) !important;
}

.u-section-1 .u-container-layout:hover .u-text-5 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-text-5 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-text-7,
.u-section-1 .u-text-7:before,
.u-section-1 .u-text-7 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-text-7.u-text-7.u-text-7:hover {
  transform: translateX(10px) translateY(0px) scale(1) !important;
}

.u-section-1 .u-text-7.u-text-7.u-text-7.hover {
  transform: translateX(10px) translateY(0px) scale(1) !important;
}

.u-section-1 .u-container-layout:hover .u-text-7 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-text-7 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-image-4,
.u-section-1 .u-image-4:before,
.u-section-1 .u-image-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-image-4.u-image-4.u-image-4:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  opacity: 0.55 !important;
}

.u-section-1 .u-image-4.u-image-4.u-image-4.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  opacity: 0.55 !important;
}

.u-section-1 .u-container-layout:hover .u-image-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-image-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-image-3,
.u-section-1 .u-image-3:before,
.u-section-1 .u-image-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-image-3.u-image-3.u-image-3:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  opacity: 0.55 !important;
}

.u-section-1 .u-image-3.u-image-3.u-image-3.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  opacity: 0.55 !important;
}

.u-section-1 .u-container-layout:hover .u-image-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-image-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-image-2,
.u-section-1 .u-image-2:before,
.u-section-1 .u-image-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-image-2.u-image-2.u-image-2:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-image-2.u-image-2.u-image-2.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-container-layout:hover .u-image-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-image-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .u-section-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("images/073d7021d353418ea007676e6f388eaf.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 422px;
}

.u-section-2 .u-image-1 {
  width: 363px;
  height: 363px;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 30px 102px 0 auto;
}

.u-section-2 .u-text-1 {
  letter-spacing: normal;
  text-transform: none;
  font-weight: 700;
  font-family: Aldrich;
  margin: -241px 538px 0 456px;
}

.u-section-2 .u-text-2 {
  transition-duration: 0.5s;
  font-size: 1.125rem;
  margin: 19px 534px 60px 86px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 411px;
  }

  .u-section-2 .u-image-1 {
    width: 341px;
    height: 341px;
    margin-right: 6px;
  }

  .u-section-2 .u-text-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    width: auto;
    margin-top: -230px;
    margin-right: 395px;
    margin-left: 237px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 18px;
    margin-right: 414px;
    margin-left: 102px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 347px;
  }

  .u-section-2 .u-image-1 {
    width: 282px;
    height: 282px;
    margin-top: 23px;
    margin-right: 34px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -217px;
    margin-right: 336px;
    margin-left: 238px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 19px;
    margin-right: 330px;
    margin-left: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 461px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 18px;
    margin-right: auto;
  }

  .u-section-2 .u-text-1 {
    width: 146px;
    margin-top: -1px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-2 {
    width: 330px;
    margin: 18px auto 32px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 460px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -15px;
  }

  .u-section-2 .u-text-2 {
    margin: 25px 11px 39px -1px;
  }
}

.u-section-2 .u-text-2,
.u-section-2 .u-text-2:before,
.u-section-2 .u-text-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-text-2.u-text-2.u-text-2:hover {
  transform: translateX(10px) translateY(0px) scale(1) !important;
}

.u-section-2 .u-text-2.u-text-2.u-text-2.hover {
  transform: translateX(10px) translateY(0px) scale(1) !important;
}

.u-section-2 .u-container-layout:hover .u-text-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-text-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-image-1,
.u-section-2 .u-image-1:before,
.u-section-2 .u-image-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-image-1.u-image-1.u-image-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  opacity: 0.55 !important;
}

.u-section-2 .u-image-1.u-image-1.u-image-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  opacity: 0.55 !important;
}

.u-section-2 .u-container-layout:hover .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .u-section-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("images/073d7021d353418ea007676e6f388eaf.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 387px;
}

.u-section-3 .u-image-1 {
  width: 316px;
  height: 316px;
  transition-duration: 0.5s;
  margin: 41px auto 0 66px;
}

.u-section-3 .u-text-1 {
  letter-spacing: normal;
  text-transform: none;
  font-weight: 700;
  font-family: Aldrich;
  margin: -245px 614px 0 433px;
}

.u-section-3 .u-text-2 {
  transition-duration: 0.5s;
  font-size: 1.125rem;
  margin: 16px 188px 60px 433px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 365px;
  }

  .u-section-3 .u-image-1 {
    width: 274px;
    height: 274px;
    margin-top: 50px;
  }

  .u-section-3 .u-text-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    width: auto;
    margin-top: -223px;
    margin-right: 468px;
    margin-left: 379px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 19px;
    margin-right: 76px;
    margin-left: 396px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 336px;
  }

  .u-section-3 .u-image-1 {
    width: 246px;
    height: 246px;
    margin-left: 65px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -222px;
    margin-right: 299px;
    margin-left: 329px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 18px;
    margin-right: 79px;
    margin-left: 329px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 457px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 11px;
    margin-left: auto;
  }

  .u-section-3 .u-text-1 {
    width: 92px;
    margin-top: 9px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-2 {
    width: 312px;
    margin-top: 31px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 441px;
  }

  .u-section-3 .u-image-1 {
    transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  }

  .u-section-3 .u-text-1 {
    margin-top: 14px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 26px;
    margin-left: 14px;
    margin-right: 14px;
  }
}

.u-section-3 .u-image-1,
.u-section-3 .u-image-1:before,
.u-section-3 .u-image-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-3 .u-image-1.u-image-1.u-image-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  opacity: 0.55 !important;
}

.u-section-3 .u-image-1.u-image-1.u-image-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  opacity: 0.55 !important;
}

.u-section-3 .u-container-layout:hover .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-text-2,
.u-section-3 .u-text-2:before,
.u-section-3 .u-text-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-3 .u-text-2.u-text-2.u-text-2:hover {
  transform: translateX(10px) translateY(0px) scale(1) !important;
}

.u-section-3 .u-text-2.u-text-2.u-text-2.hover {
  transform: translateX(10px) translateY(0px) scale(1) !important;
}

.u-section-3 .u-container-layout:hover .u-text-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-text-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .u-section-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("images/073d7021d353418ea007676e6f388eaf.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 522px;
}

.u-section-4 .u-image-1 {
  width: 782px;
  height: 440px;
  transition-duration: 0.5s;
  margin: 31px auto 51px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 365px;
  }

  .u-section-4 .u-image-1 {
    width: 520px;
    height: 292px;
    margin-top: 24px;
    margin-bottom: 49px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 336px;
  }

  .u-section-4 .u-image-1 {
    width: 438px;
    height: 246px;
    margin-top: 45px;
    margin-bottom: 45px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 291px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 23px;
    margin-bottom: 23px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 128px;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 191px;
    transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  }
}

.u-section-4 .u-image-1,
.u-section-4 .u-image-1:before,
.u-section-4 .u-image-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-4 .u-container-layout:hover .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-4 .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}